[submodule "indy-node"]
	path = indy-node
	url = https://github.com/scipsycho/indy-node
[submodule "indy-plenum"]
	path = indy-plenum
	url = https://github.com/scipsycho/indy-plenum
[submodule "indy-sdk"]
	path = indy-sdk
	url = https://github.com/scipsycho/indy-sdk.git
